
.navbar-collapse{
    background: #2d4059;
    width: 100%;
    position: fixed;
    z-index: 100;

}

.ul {
    margin:0;
    padding:0;
    }

.ul .li-left{
    display:block;
    float:left;
    padding:0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    }
.ul .li-left a{
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
.ul li:hover {
    transition:all .5s ease-in-out;
    background: #ea5455;
  }

.ul-right {
    margin:0;
    padding:0;
    }
.ul-right .li-right{
    display:block;
    float:right;
    padding:0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    }
.ul-right .li-right a{
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
.ul-right li:hover {
    transition:all .5s ease-in-out;
    background: #ea5455;
  }

.dashboard {
    margin: 0;
    padding: 50px;
    background-color: #e5e5e5;
    display: grid;
    grid-template-columns: repeat(3, minmax(170px, auto));
    grid-template-rows: repeat(4, minmax(200px, auto));
    grid-gap: 30px;
}

  /* ----------------- COLORS -----------------
  2d4059

  ea5455

  decdc3

  e5e5e5
  */
