.dashboard {
    margin: 0;
    padding: 50px;
    background-color: #e5e5e5;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap:30px;
}

  /* ----------------- COLORS -----------------
  2d4059

  ea5455

  decdc3

  e5e5e5
  */
